[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyomo = "5.9"
pandas = "*"
numpy = "*"
openpyxl = "*"
tabulate = "*"
matplotlib = "*"
function = "*"
joblib = "*"
requests = "*"
jsondatetime = "*"
plotly = "*"
geojson = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
