[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyomo = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"
tabulate = "*"
matplotlib = "*"
function = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.9"
